/* html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
 */

/* footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
 */

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.slider {
  display: flex;
  gap: 0.5rem;
  width: 100%;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider div {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  scroll-snap-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  .slider img {
  height: 100%;
  object-fit: cover;
} */
.slider div a {
  width: 300px;

  display: flex;
  justify-content: end;
  /* height: 100%; */
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
